{% extends "base.html" %}

{% block style %}
<style>
    .container {
        background-color: #fff;
        height: 100%;
    }

    .order-detail {
        margin-top: 60px;
        padding-bottom: 100px;
        min-height: 100vh;

    }

    .detail-title {
        background: linear-gradient(to top left, #d62873, rgb(228, 114, 133));
        padding: 20px 0;
        color: #fff;
    }

    .detail-title h2 {
        letter-spacing: 2px;
        font-weight: bold;
        font-size: 22px;
        text-align: center;
        margin-bottom: 10px;
    }

    .detail-title p {
        letter-spacing: 1.3px;
        text-align: center;
        font-size: 12px;
    }

    .buy-profile {
        background-color: #fff;
        border-radius: 6px;
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
        padding: 16px;
        width: 100%;
        margin-bottom: 12px;
    }

    .buy-profile.first {
        border-radius: 0 0 6px 6px;
        line-height:0;
    }

    .profile-item {
        display: flex;
        align-items: center;
        font-size: 14px;
        padding: 10px 0;
    }

    .profile-item h3 {
        font-weight: bold;
        flex: 0 0 30%;
        color: #333;
    }

    .profile-item p {
        color: #aaa;
        line-height: 1;
    }

    .buy-profile h4.title {
        font-weight: bold;
        font-size: 14px;
    }

    .buy-profile p.label {
        color: #aaa;
        line-height: 2;
    }

    .buy-profile h4.title-product {
        font-weight: bold;
        font-size: 14px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    .buy-profile h4.title-product span {
        color: #d62873;
    }

    .buy-profile ul li {
        list-style: none;
        display: flex;
        align-items: center;
        gap: 16px;
        justify-content: space-between;
        margin-bottom: 30px;
    }

    .buy-profile ul .img {
        width: 80px;
    }

    .buy-profile ul .img img {
        display: block;
        width: 100%;
        object-fit: contain;
    }

    .buy-profile .desc {
        flex: 1 0 auto;
    }

    .buy-profile .desc h6 {
        font-weight: bold;
        font-size: 14px;
        line-height: 1.3;
        margin-bottom: 5px;
        max-width: 300px;
        /* Limit the width to 300px */
        word-wrap: break-word;
        /* Break at the end of words if necessary */
        word-break: break-all;
        /* Break at any character if necessary */
    }

    .buy-profile .desc p {
        color: #d62873;
        line-height: 1.2;
    }

    .buy-profile ul li span {
        color: #d62873;
        width: 40px;
    }

    .total-price {
        position: fixed;
        bottom: 44px;
        left: 0;
        right: 0;
        margin: auto;
        max-width: 414px;
        background-color: #fff;
        padding: 12px;
        z-index: 1000;
        display: flex;
        align-items: center;
        gap: 12px;
        border-top: 1px solid #eee;
    }

    .total-price p {
        font-size: 14px;
        color: #aaa;
        font-weight: bold;
    }

    .total-price span {
        font-size: 14px;
        color: #d62873;
    }
</style>




{% endblock %}

{% block main%}
<div class="order-detail">
    <div class="detail-title">
        {% if order_data != {} %}
        <h2>已付款订单</h2>
        <!-- <p>买家已付现</p> -->
        {% else %}
        <h2>未付款</h2>
        <!-- <p>买家未付现</p> -->
        {% endif %}
    </div>
    {% if order_detail !={} %}

    <div class="buy-profile first">
        <div class="profile-item">
            <h3>货运状态</h3>
        </div>
        {% for item in order_detail.roadmap %}
            {% if loop.index % 2 == 1 %}
                <div class="profile-item">
                    <p style="color: #111; font-weight: bold; font-size: 16px;">{{ item }}</p>
                </div>
            {% else %}
                <div class="profile-item">
                    <p style="color: #666; padding-left: 10px;">{{ item }}</p>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    
    {% else %}
    <div class="buy-profile first">
        <div class="profile-item">
            <p>暂时无物流讯息</p>
        </div>
    </div>
    {% endif %}
    <!-- <div class="buy-profile">
        <h4 class="title">{{ oid }} 未填写手机号</h4>
        <p class="label">地址:</p>
    </div> -->

    <div class="buy-profile product_list">
        <h4 class="title-product">
            {{ oid }}
            {% if order_data != {}%}
            <span>已付款</span>
            {% else %}
            <span>未付款</span>
            {% endif %}
        </h4>
        <ul>
            <li>
                <div class="img"><img src="{{ order_data.img_url }}" alt=""></div>
                <div class="desc">
                    <h6>{{ order_data.product }}</h6>
                    <p>{{ order_data.price }}</p>
                </div>
                <span class="qty">*1</span>
            </li>
        </ul>
    </div>
    <div class="total-price">
        <p>已付金额</p>
        <span>¥ {{ order_data.price }}</span>
    </div>
    <div class="buy-profile first">
        <div class="profile-item">
            <h3>寄件人：</h3>
            <p>{{ order_detail.sender }}</p>
        </div>
        <div class="profile-item">
            <h3>寄件地址：</h3>
            <p>{{ order_detail.sender_address }}</p>
        </div>
        <div class="profile-item">
            <h3>快递单号:</h3>
            <p>{{ order_detail.order_no }}</p>
        </div>
        <div class="profile-item">
            <h3>快递公司:</h3>
            <p>{{ order_detail.order_factory }}</p>
        </div>
        <div class="profile-item">
            <h3>收件人:</h3>
            {% if order_data.remarks == 'None' or order_data.remarks == '' or 'remarks' not in order_data %}
                <p>{{ order_detail.recipient }}</p>
            {% else %}
                <p>{{ order_data.remarks }}</p>
            {% endif %}
        </div>
        <div class="profile-item">
            <h3>收件地址:</h3>
            <p>{{ order_detail.recipient_address }}</p>
        </div>
    </div>

</div>
<script>
    const buy_profile = document.querySelector('.product_list ul')
    const oid = '{{ oid }}'
    const total_price = document.querySelector('.total-price span')
    let order_list = JSON.parse(localStorage.getItem('orderList'))
    let index = order_list.findIndex(order => order.order_no == oid)
    if (index != -1) {
        let tempOrder = order_list[index]
        let html = ''
        let totalPrice = 0
        tempOrder.product_list.forEach(item => {
            html += `
                <li>
                    <div class="img"><img src="${item.p_img}" alt=""></div>
                    <div class="desc">
                        <h6>${item.p_name}</h6>
                        <p>¥${item.p_price}</p
                    </div>
                    <span class="qty">x${item.qty}</span>
                </li>
            `
            totalPrice += item.p_price * item.qty
        })
        buy_profile.innerHTML = html
        total_price.textContent = `¥${totalPrice}`
    }
</script>


{% endblock %}