{% extends "base.html" %}
{% block style %}
<style>
  .profile {
    padding: 60px 0;
    position: relative;
    width: 100%;
    min-height: 100vh;
  }

  .profile .title {
    position: fixed;
    width: 414px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    color: #fff;
    background-color: #d62872;
  }

  .profile .title .name {
    font-size: 12px;
  }

  .profile .title .name p {
    margin-bottom: 3px;
  }

  .profile .title .logout a {
    display: block;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 3px;
    padding: 3px 8px;
    font-size: 14px;
    text-decoration: none;
  }

  .coin-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    color: #fff;
    background-color: #ab205b;
    margin-bottom: 16px;
  }

  .coin-title ul {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .coin-title ul li {
    width: 25%;
    list-style: none;
  }

  .coin-title li h4 {
    margin-bottom: 3px;
    text-align: center;
  }

  .coin-title li p {
    text-align: center;
    font-size: 14px;
  }

  .profile-menu {
    padding: 0 12px;
    margin-top: 120px;
    margin-bottom: 16px;
  }

  .profile-order {
    padding: 0 12px;
    margin-bottom: 16px;
  }

  a {
    text-decoration: none;
  }

  .profile-menu ul,
  .profile-order-item {
    background-color: #fff;
    padding: 16px 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 8px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    padding-bottom: 0;
  }

  .profile-order-item {
    margin-bottom: 16px;
    display: block;
    padding-bottom: 16px;
  }

  .profile-menu ul li {
    width: 25%;
    list-style: none;
    text-align: center;
    margin-bottom: 16px;
  }

  .profile-menu ul li img {
    object-fit: contain;
    display: block;
    margin: 0 auto;
    width: 26px;
    height: 26px;
    margin-bottom: 8px;
  }

  .profile-order .order-no {
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
  }

  .profile-order .order-no p {
    font-weight: bold;
    font-size: 14px;
  }

  .profile-order .order-no span {
    font-weight: bold;
    font-size: 14px;
    color: #d62872;
  }

  .profile-order .img-group {
    display: flex;
    gap: 5px;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 0;
  }

  .profile-order .img-group img {
    height: 40px;
    width: 40px;
    object-fit: contain;
    display: block;
    border: 1px solid #eee;
    padding: 2px;
  }

  .profile-order .price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    font-size: 14px;
  }

  .profile-order .price a {
    text-decoration: none;
    border-radius: 4px;
    border: 1px solid #d62872;
    color: #d62872;
    background-color: #fff;
    padding: 5px 8px;
    text-align: center;
  }

  .message-modal {
    position: fixed;
    top: 60px;
    width: 100%;
    max-width: 414px;
    min-height: 100vh;
    background-color: #fff;
    display: none;
    z-index: 1002;
  }

  .message-input {
    position: fixed;
    left: 0;
    right: 0;
    max-width: 414px;
    bottom: 45px;
    background-color: #eee;
    padding: 10px 20px;
    display: none;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3%;
    z-index: 1001;
  }

  .message-input input {
    width: 77%;
    padding: 6px 10px;
    border: none;
    outline: none;
    background-color: #fff;
  }

  .message-input button {
    width: 17%;
    padding: 4px 10px;
    text-align: center;
    border: 1px solid #d62872;
    color: #d62872;
    background-color: transparent;
  }

  .message-content {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 20px;
    padding-left: 20px;
    max-height: calc(100vh - 150px);
    overflow-y: scroll;
    overscroll-behavior: contain;
  }

  .message-content .mine p,
  .message-content .sender p {
    font-size: 12px;
    font-weight: bold;
  }

  .message-content .mine {
    margin-right: 0;
    margin-left: auto;
    text-align: right;
  }

  .message-content .mine .content {
    padding: 6px 10px;
    background-color: #eee;
    margin-bottom: 20px;
    font-size: 14px;
    display: inline-block;
  }

  .message-content .sender {
    margin-right: 0;
    margin-left: auto;
  }

  .message-content .sender .content {
    padding: 6px 10px;
    background-color: #d62872;
    margin-bottom: 20px;
    color: #fff;
    font-size: 14px;
    display: inline-block;
  }

  .back {
    padding: 10px;
    cursor: pointer;
    color: #ccc;
    font-size: 12px;
    font-weight: bold;
  }

  .search {
    max-width: 414px;
    position: relative;
    background-color: #ddd;
    margin: 0 auto;
  }

  .search-header {
    position: fixed;
    max-width: 414px;
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    top: 120px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1000;
  }

  .search-header h2 {
    flex: 1 0 auto;
    font-size: 18px;
    font-weight: normal;
    color: #454545;
    text-align: center;
  }

  .search-header a {
    width: 34px;
    height: 34px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .search-header a i {
    font-size: 16px;
    color: #454545;
  }

  .search-input {
    position: fixed;
    max-width: 414px;
    display: flex;
    align-items: center;
    padding: 13px;
    background-color: #fff;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    top: 110px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 999;
    gap: 10px;
    transition: .8s;
    padding-top: 40px;
  }

  .search-input form {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #fff;
  }


  .search-input.show {
    top: 173px;
  }

  .search-input input {
    padding: 2px 10px;
    flex: 1 1 auto;

  }

  .search-input input:focus {
    outline: #333;
  }

  .search-input .search-btn {
    font-size: 12px;
    background-color: #d62872;
    color: #fff;
    font-weight: bold;
    text-align: center;
    display: block;
    padding: 4px;
    flex: 0 0 10%;
  }

  .price h3 {
    text-decoration: none;
    border-radius: 4px;
    border: 1px solid #d62872;
    color: #d62872;
    background-color: #fff;
    padding: 5px 8px;
    text-align: center;
    font-size: 14px;
    margin-bottom: 20px;
    cursor: pointer;
  }

  input,
  textarea {
    font-size: initial;
  }
</style>

{% endblock %}

{% block main%}
<div class="profile">
  <div class="title">
    <div class="name">
      <p>{{ session.name }}</p>
      <span>会员帐号: {{ session.name }}</span>
    </div>
    <div class="logout">
      <a href="/logout">登出</a>
    </div>
  </div>
  <div class="search">
    <div class="search-header">
      <a href="/">
        <i class="fa-solid fa-xmark"></i>
      </a>
      <h2>订单搜寻</h2>
      <a href="javascript:;" class="search-open">
        <i class="fa-solid fa-magnifying-glass"></i>
      </a>
    </div>
    <div class="search-input">
      <form action="/profile" method="post">
        <input type="text" name="order_no">
        <button type="submit" class="search-btn">搜寻</button>
      </form>
    </div>
  </div>
  <div class="profile-menu">
    <ul>
      <li>
        <div class="sellorder_route" style="cursor: pointer;">
          <a href="/sellorder">
            <div class="img">
              <img src="https://image.momoshop.com.tw/ecm/img/cmm/mobile/menu_1-1.png" alt="">
            </div>
            出货订单
          </a>
        </div>
      </li>
      <li>
        <a href="/buyorder">
          <div class="img">
            <img src="https://image.momoshop.com.tw/ecm/img/cmm/mobile/menu_1-3.png" alt="">
          </div>
          进货订单
        </a>
      </li>
    </ul>
  </div>

  <div class="profile-order">
    {% for item in order_data %}
    <div class="profile-order-item">
      <div class="order-no">
        <p>{{ item.orderNo }}</p>
        <span>已付款</span>
      </div>
      <div class="order-title">
        <h4>{{ item.product }}</h4>
      </div>
      <a href="/detail?oid={{ item.orderNo }}">
        <div class="img-group">
          <img src="{{ item.img_url }}" alt="">
        </div>
      </a>
      <div class="price">
        <p>¥ {{ item.price }}</p>
        <div>
          <h3 data-id="{{ loop.index }}" class="message_btn-click">联络卖家</h3>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<div class="message-modal">
  <div class="back">
    <p class="close"> <- back </p>
  </div>
  <div class="message-content">
    <div class="mine">
      <p>我</p>
      <div class="content">
        你好!
      </div>
    </div>

    <div class="sender">
      <p>卖家</p>
      <div class="content">
        嗨 你好
      </div>
    </div>
  </div>
  <div class="message-input">
    <input type="text">
    <button type="button" class="mine" style="display: none">送出</button>
    <button type="button" class="sender" style="display: none">送出</button>
  </div>
</div>




</div>

<script>
  const messageBtn = document.querySelector('.profile-order')
  const message = document.querySelector('.message-modal')
  const message_input = document.querySelector('.message-input')
  const message_close_btn = document.querySelector('.close')
  const message_mine_btn = document.querySelector('.message-input .mine')
  const message_sender_btn = document.querySelector('.message-input .sender')
  let messageList = JSON.parse(localStorage.getItem('message')) || []
  function setMessaage(index) {
    const message_content = document.querySelector('.message-content')
    html = ``
    messageList[index % 10].forEach(item => {
      if ('user' in item) {
        html += `
          <div class="mine">
            <p>我</p>
            <div class="content">
             ${item.user}
            </div>
          </div>
        `
      } else {
        html += `
          <div class="sender">
            <p>賣家</p>
            <div class="content">
              ${item.ass}
            </div>
          </div>
        `
      }
    })
    message_content.innerHTML = html
  }


  messageBtn.addEventListener('click', function (event) {
    if (event.target.nodeName == 'H3') {
      setMessaage(event.target.dataset.id)
      message.style.display = 'block'
      message_input.style.display = 'flex'
      message_mine_btn.style.display = 'block'
    } else if (event.target.nodeName == 'P') {
      message.style.display = 'block'
      message_input.style.display = 'flex'
      message_sender_btn.style.display = 'block'
    }

  })

  message_close_btn.addEventListener('click', function (event) {
    message.style.display = 'none'
    message_input.style.display = 'none'
    message_sender_btn.style.display = 'none'
    message_mine_btn.style.display = 'none'
  })
  message_mine_btn.addEventListener('click', function (event) {
    const mineNode = document.createElement('div')
    mineNode.classList.add('mine')
    // <div class="mine"></div>

    const mineParagraph = document.createElement('p')
    mineParagraph.textContent = '我'
    // <p>我</p>

    const mineContent = document.createElement('div')
    mineContent.classList.add('content')
    mineContent.textContent = document.querySelector('.message-input input').value
    // <div class="content">請問還有貨嗎?</div>

    mineNode.appendChild(mineParagraph)
    mineNode.appendChild(mineContent)
    /*
      <div class="mine">
        <p>我</p>
        <div class="content">請問還有貨嗎?</div>
      </div>
    */
    if (document.querySelector('.message-input input').value == '') return;
    let message_content = document.querySelector('.message-content')
    message_content.appendChild(mineNode)
    document.querySelector('.message-input input').value = ''

    message_content.scrollTop = message_content.scrollHeight

    setTimeout(() => {
      const senderNode = document.createElement('div');
      senderNode.classList.add('sender');
      // <div class="sender"></div>

      const senderParagraph = document.createElement('p');
      senderParagraph.textContent = '賣家';
      // <p>我</p>

      const senderContent = document.createElement('div');
      senderContent.classList.add('content');
      senderContent.textContent = '目前忙线中，稍后会有小编为您服务';
      // <div class="content">請問還有貨嗎?</div>

      senderNode.appendChild(senderParagraph);
      senderNode.appendChild(senderContent);

      const message_content = document.querySelector('.message-content');
      message_content.appendChild(senderNode);
      document.querySelector('.message-input input').value = '';

      message_content.scrollTop = message_content.scrollHeight;
    }, 2000);

  })

  message_sender_btn.addEventListener('click', function (event) {
    const senderNode = document.createElement('div')
    senderNode.classList.add('sender')
    //<div class="sender"></div>
    const senderPragraph = document.createElement('p')
    senderPragraph.textContent = '卖家'
    // <p> 我 </p>

    const senderContent = document.createElement('div')
    senderContent.classList.add('content')
    senderContent.textContent = document.querySelector('.message-input input').value
    // <div class="content">请问还有货吗？</div>

    senderNode.appendChild(senderPragraph)
    senderNode.appendChild(senderContent)

    if (document.querySelector('.message-input input').value == '') return;

    const message_content = document.querySelector('.message-content')
    message_content.appendChild(senderNode)
    document.querySelector('.message-input input').value = ''


    message_content.scrollTop = message_content.scrollHeight


  })



</script>
<script>
  let is_fake = '{{ is_fake}}'
  if (is_fake == 'true') {
    let orderList = JSON.parse(localStorage.getItem('orderList')) || []
    function pushOrderList(order, index) {
      let total_price = 0
      let html = `
      <div class="profile-order-item">
        <div class="order-no">
          <p>${order.order_no}</p>
          <span>未付款</span>
        </div>
      `;
      order.product_list.forEach(item => {
        html += `
        <div class="order-title">
          <h4>${item.p_name}</h4>
        </div>
        <a href="/details?oid=${order.order_no}">
          <div class="img-group">
            <img src="${item.p_img}" alt="">
          </div>
        </a>
      `
        total_price += item.p_price
      })
      html += `
        <div class="price">
            <p>¥${total_price}</p>
            <div>
              <h3 data-id="${index}" class="message_btn-click">联络卖家</h3>
              <a href="#">取消订单</a>
            </div>
          </div>
        </div>
      `

      const profile_order = document.querySelector('.profile-order');

      profile_order.insertAdjacentHTML('afterbegin', html);
    }
    orderList.forEach((order, index) => {
      pushOrderList(order, index)
    })
  }

</script>
<script>
  const search_header_btn = document.querySelector('.search-header .search-open')
  search_header_btn.addEventListener('click', (e) => {
    const search_input = document.querySelector('.search-input')
    search_input.classList.toggle('show')
  })
</script>


{% endblock %}